body { margin:0;font-family:"Roboto", sans-serif; }

h2 { font-size:32px; font-weight:300; }
h3 { font-size:24px; font-weight:300; }

.mainHeading { background:#021E27;padding:50px; }
.mainHeading .inner{ max-width:1200px;margin:auto; }
.mainTitle { font-size:100px; }
.mainTitle, .subTitle { text-align:left;color:white;margin:0; }
.subTitle { margin-top:-20px; }

.navigationWrapper { background:#0886AF; }
.navigation{ list-style:none;padding:0;text-align:left;max-width:1200px;margin:auto; }
.navigation li { display:inline-block; padding:20px; background:#0886AF;color:white;border-right:1px solid #021E27;text-align:center; }
.navigation li:first-child { border-left:1px solid #021E27; }

.mainContent{ max-width:1200px; margin:auto; }

.imgWrapper { text-align: center;padding: 30px; }
