body { margin:0;font-family:"Roboto", sans-serif; }

.mainHeading { background:#021E27;padding:50px; }
.mainTitle { font-size:100px; }
.mainTitle, .subTitle { text-align:center;color:white;margin:0; }

.navigation{ list-style:none; }
.navigation li { display:inline-block; padding:5px; background:#0886AF;color:white; }
