div#footer {
    padding-top: 40px;
    clear: both;
    text-align: center;
}

/** changes from Adon in bootstrap.css */

a:hover,
a:active {
    text-decoration: none !important;
}

h1 {
    font-size: 36px;
    padding-bottom: 15px;
    font-weight:700;
}

h2, h3{
    font-weight:400;
}

/**  in bootstrap.css
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}  */


.container-fluid{ padding:0 20px }


.page-header {
    margin: 0 0 30px;
    border-bottom: none;
}

.page-header a {
    display: inline-block;
}


body {

    background:#021E27;
    color: #fcfbf9;
    font-family:Roboto, sans-serif;
}


/** datepicker specific css **/
.day, .datepicker-switch, .prev, .next, .dow{ color:black; }


/** tags specific css **/
.bootstrap-tagsinput { min-width:300px }



.btn-primary{ background:#0886AF; border:none; }
.btn-primary:hover { background: #066888; }

.btn-success { background:#11af08;border:none; }
.btn-success:hover { background:#0d8806; }

.btn-purple { background:#AF08AF;border:none;color:white }
.btn-purple:hover { background:#880688; }

.btn-danger { background: #AF0808;border:none }
.btn-danger:hover { background: #880606;border:none }



.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


input {
    color: black;
}

tr.fieldRow {
    height: 30px;
}

#paperList td{
    font-size:32px;
    font-weight: 300;
}

#paperList th, #paperList td, #studentList th, #studentList td{
    padding:7px 10px;
    text-align: center;
    border-left:1px solid #066888;
    border-right:1px solid #066888;
}

#paperList th, #studentList th { vertical-align: bottom;font-weight:500;font-style:italic;border:1px solid #043B4E;border-bottom-width: 10px;background:#066888 }
#paperList tr:nth-child(odd) td, #studentList tr:nth-child(odd) td { background: #043B4E }

#studentList td:hover{
    background:#066888 !important;cursor:pointer;
}

.filterDiv { padding:10px 0 0 }
.operatorDiv { padding:0 0 10px }


input[type=checkbox]:checked + label { font-weight: 500 }
label { font-weight:300; cursor:pointer;display:inline; }

.menuButton { padding: 20px;text-align: center;display:block;width: 100%;border-bottom:1px solid #066888 }
.menuButton:hover { background:#0786B0;color:white }

#pieButton, #scatterButton{ float:left;margin:0 20px;font-size:20px;border-radius:0 }
#pieButton.currentlySelected, #scatterButton.currentlySelected { background:white;outline:1px solid #0886AF;color:#0886AF }

a { color: #0886AF }