div#footer {
    padding-top: 40px;
    clear: both;
    text-align: center;
}

/** changes from Adon in bootstrap.css */

a:hover,
a:active {
    text-decoration: none !important;
}

h1 {
    font-size: 36px;
    padding-bottom: 15px;
    font-weight:700;
}

h2, h3{
    font-weight:400;
}

/**  in bootstrap.css
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}  */


.container-fluid{ padding:0 }


.page-header {
    margin: 0 0 30px;
    border-bottom: none;
}

.page-header a {
    display: inline-block;
}


body {

    background:#021E27;
    color: #fcfbf9;
    font-family:Roboto, sans-serif;
}

h4 { font-weight:300 }

/** datepicker specific css **/
.day, .datepicker-switch, .prev, .next, .dow{ color:black; }


/** tags specific css **/
.bootstrap-tagsinput { min-width:300px }



.btn-primary{ background:#0886AF; border:none; }
.btn-primary:hover { background: #066888; }

.btn-success { background:#11af08;border:none; }
.btn-success:hover { background:#0d8806; }

.btn-purple { background:#AF08AF;border:none;color:white }
.btn-purple:hover { background:#880688; }

.btn-danger { background: #AF0808;border:none }
.btn-danger:hover { background: #880606;border:none }



.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


input {
    color: black;
}

tr.fieldRow {
    height: 30px;
}

#paperList td{
    font-size:32px;
    font-weight: 300;
}

#paperList th, #paperList td, #studentList th, #studentList td, #column_table th, #column_table td{
    padding:5px 10px;
    text-align: center;
    border-right:1px solid #043B4E;
}

#paperList th, #studentList th, #column_table th { vertical-align: bottom;font-weight:500;font-style:italic;background:#fff;color:black }
#paperList tr:nth-child(odd) td, #studentList tr:nth-child(odd) td,
#column_table tr:nth-child(odd) td { background: #043B4E }

#studentList td:hover{
    background:#066888 !important;cursor:pointer;
}

.filterDiv { padding:0; border-bottom:1px solid #021E27 }
.filterDiv input, .filterDiv select { border:none;border-right:1px solid #043B4E }

.operatorDiv { padding:0 0 10px }

.sres_panel { background:#021E27;border:1px solid #066888 }
.sres_panel h4 { cursor:move }

input[type=checkbox]:checked + label { font-weight: 500 }
label { font-weight:300; cursor:pointer;display:inline; }

.menuButton { padding: 20px;text-align: center;display:block;width: 100%;border-bottom:1px solid #066888;cursor:pointer }
.menuButton:hover { background:#0786B0;color:white }

#pieButton, #scatterButton{ float:left;margin:0 20px;font-size:20px;border-radius:0 }
#pieButton.currentlySelected, #scatterButton.currentlySelected { background:white;outline:1px solid #0886AF;color:#0886AF }

a { color: #0886AF }

.gridster { margin:10px }
.gridster ul{ list-style:none;margin:0;padding:0; }
/*.gridster ul li{ background:white }*/


.placeHolder{ display:none; border:5px dotted #fff;background:#021E27;cursor:pointer;color:#fff;opacity:.4 }
.placeHolder:hover{ opacity:1}
.deletePanel{ cursor:pointer }

.layout { float:left;width:20px;height:20px;margin-top:-1px }
.layout1{ background-image: url(../img/layout1_blue.svg);border:none }
.menuButton:hover .layout1{ background-image: url(../img/layout1.svg);border:none }

.layout2{ background-image: url(../img/layout2_blue.svg);border:none }
.menuButton:hover .layout2{ background-image: url(../img/layout2.svg);border:none }


.conditional2{ background-image: url(../img/conditional_blue.svg);border:none }
.menuButton:hover .conditional2{ background-image: url(../img/conditional.svg);border:none }

.conditional1{ background-image: url(../img/paragraph_blue.svg);border:none }
.menuButton:hover .conditional1{ background-image: url(../img/paragraph.svg);border:none }

textarea { resize: vertical }

.sres_checkbox { color:#fff;cursor:pointer;font-size:16px;width:18px;text-align:center }
.sres_checkbox:hover { color:#aaa }
th .sres_checkbox { color:#021E27 }

.mainPopup { width:40% }
.mainPopup td{ padding: 20px }

.studentActions{ background:#043B4E; color:white;padding:10px }
.studentActions:hover { background: #021E27;color:white }

.topPanel {position:absolute;top:40px;left:0;right:0;background:#0886AF;height:40px;border-bottom:1px solid #043B4E}
.bottomPanel {position:absolute;bottom:0;left:0;right:0;background:transparent;height:40px;}

table.dataTable tbody tr { background: none !important }

.info_text { border:1px solid #066888;padding:20px;margin:0 20px }


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { color: #ccc }

.sres_name, .sres_identifier { background:#0886AF;color:white;border:none }
.input-group[disabled] .sres_name { background:#ccc;color:#999; }